.banner {
    width: 100%;
    margin-bottom: 40px;
    .title {
        font-size: 60px;
        width:50%;
        font-weight: 600;
        margin-left:40px;
        padding-top: 40px;
    }
    .vote{
        margin: 20px 0px 0px 40px;
        width:40%;
        font-weight: 600;
        font-size: 24px;
    }
    .overview{
        margin: 10px 0px 0px 40px;
        width:40%;
        font-weight: 400;
        font-size: 18px;
    }
    .buttons{
        margin: 20px 0px 0px 40px;
        display: flex;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            height: 40px;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 20px 10px 20px;
            border: none;
            border-radius: 5px;
            .cgPlayIcon{
                font-size: 60px;
                border-radius: 5px;
                margin-left: -20px;
                margin-right: -10px;
            }
            .cgInfoIcon{
                font-size: 30px;
                margin-right: 10px;
            }
        }
        .btnCgInfo{
            background-color: rgba(82, 82, 82, 0.8);
            color: white;
        }
        button:hover{
            opacity: 0.8;
            transform: scale(1.1);
        }
    }

    .gradientTop {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to top, rgba(0,0,0,1) 5%, transparent 40%);
    }
    
    .gradientRight {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, rgba(0,0,0,0.8) 5%, transparent 95%);
    }
}