.lineMoviesMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s;
}

.lineMovies {
    display: inline-flex;
}

.titleCategory {
    margin: 5px 0px 0px 50px;
    font-weight: 600;
}

.moviesRow {
    overflow-x: hidden;
    margin: 0px 0px 20px 40px;
    display: flex;
    transition: all 1s;
    height: inherit;
    align-items: center;
    width: 3400px;
}

.nextButtonMovies,
.previusButtonMovies {
    position: absolute;
    right: 0;
    width: 35px;
    border: none;
    opacity: 0;
    margin-bottom: 5px;
    background-color: black;
    height: 200px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s;
    border-radius: 5px;
}

.previusButtonMovies {
    z-index: 1;
    left: 0;
}

.moviesRow:hover .previusButtonMovies,
.moviesRow:hover .nextButtonMovies {
    opacity: 0.5;
    transform: scale(1);
}

.moviesRow:hover .previusButtonMoviesSvg,
.moviesRow:hover .nextButtonMoviesSvg {
    opacity: 1;
}

.nextButtonMoviesSvg,
.previusButtonMoviesSvg {
    display: block;
    text-indent: -9999px;
    width: 100%;
    transform: scale(1.5);
    height: inherit;
    background: url(arrow_forward_ios_black_24dp.svg) no-repeat center;
}

.previusButtonMoviesSvg {
    transform: scale(1.5) rotate(180deg);
}

.imgMovie {
    height: 250px;
    width: 166px;
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 5px 1px 8px black;
}

.imgMovie:hover {
    transform: scale(1);
}