.lineMovies {
    display: inline-flex;
    width: 100%;
}

.titleCategory {
    margin: 5px 0px 0px 50px;
    font-weight: 600;
    font-size: 20px;
}

.esconde {
    overflow: hidden;
}

.moviesRow {
    width: 100%;
    transition: all 1s ease;
    display: flex;
    align-items: center;
}

.nextButtonMovies,
.previusButtonMovies {
    position: absolute;
    right: 0;
    width: 35px;
    border: none;
    opacity: 0;
    margin-bottom: 5px;
    background-color: black;
    height: 200px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s;
    border-radius: 5px;
}

.previusButtonMovies {
    z-index: 1;
    left: 0;
}

.moviesRow:hover .previusButtonMovies,
.moviesRow:hover .nextButtonMovies {
    opacity: 0.5;
    transform: scale(1);
}
.nextButtonMoviesIco,.previusButtonMoviesIco{
   font-size: 20px;
   color:red;
}

.imgMovie {
    height: 250px;
    width: 150px;
    transform: scale(0.9);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 5px 1px 8px black;
}

.imgMovie:hover {
    transform: scale(1);
}

@media (max-width: 750px) {
    .nextButtonMovies,.previusButtonMovies{
        background-color: rgba($color: #000000, $alpha: 0);
        opacity: 1;
    }
    .nextButtonMovies{
        margin-right: 12px;
    }
    .moviesRow:hover .nextButtonMovies,
    .moviesRow:hover .previusButtonMovies{
        opacity: 1;
    }
    .nextButtonMoviesIco,.previusButtonMoviesIco{
        font-size: 40px;
    }
}
